# Fichier/Dossier à ignorer générer par  Yannick / Pierro
claviermatriciel/venv/
tests/venv/
tests/generaluser-gs-main/

# Fichier/Dossier à ignorer générer par  Julie
.vscode
__pycache__
tests/combiné.wav
venv/

# Ignioer les Enregistrement vocaux
cabine-julie/upload/*.mp3