# Fichier/Dossier à ignorer générer par  Yannick / Pierro
tests/generaluser-gs-main/

# Fichier/Dossier à ignorer générer par  Julie
.vscode
.venv
__pycache__
tests/combiné.wav
venv/

# Ignioer les Enregistrement vocaux
upload/
**/backup/
**/log/
**/audio
