[Unit]
Description=Cabine system daemon
After=sound.target pipewire.service pipewire-pulse.service
Wants=sound.target pipewire.service pipewire-pulse.service

[Service]
Type=simple
User={USER}
Group={GROUP}
ExecStart=/usr/bin/cabine daemon start
ExecStop=/usr/bin/cabine daemon stop
Restart=on-failure
RestartSec=5
RemainAfterExit=true
#PrivateDevices=no
#Environment="SDL_AUDIODRIVER=alsa"
# Ensure proper PulseAudio access
Environment="XDG_RUNTIME_DIR=/run/user/1000" 
RuntimeDirectory=cabine
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target